<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Daniel Diaz's Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Daniel Diaz's Personal Website" />
		<meta name="keywords" content="Software Engineer Web Developer" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ url_for('static', filename='css/ie8.css') }}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ url_for('static', filename='css/ie9.css') }}" /><![endif]-->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/donut.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
	</head>
    <body>
        <!-- Header -->
		<div id="header" class="skel-layers-fixed">
			<div class="top">
				<!-- Logo -->
				<div id="logo">
					<span class="image avatar48"><img src="{{ url_for('static', filename='images/dddiaz-icon.jpg') }}" alt="Me" /></span>
					<h1 id="title">Daniel Diaz</h1>
					<p>Software Engineer</p>
				</div>
				<!-- Nav -->
				<nav id="nav">
					<!--
						Prologue's nav expects links in one of two formats:
						1. Hash link (scrolls to a different section within the page)
							<li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>
						2. Standard link (sends the user to another page/site)
							<li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>
					-->
					<ul>
						<li><a href="{{ url_for('index') }}#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Intro</span></a></li>
						<li><a href="{{ url_for('index') }}#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">About Me</span></a></li>
						<li><a href="{{ url_for('index') }}#bg-stats" id="bg-stats-link" class="skel-layers-ignoreHref"><span class="icon fa-rocket">BG Stats</span></a></li>
						<li><a href="{{ url_for('index') }}#blog" id="blog-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Blog</span></a></li>
						<li><a href="{{ url_for('index') }}#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>
					</ul>
				</nav>
			</div>
			<div class="bottom">
				<!-- Social Icons -->
				<ul class="icons">
					<li><a href="https://www.linkedin.com/in/daniel-diaz-3a784155" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
					<li><a href="{{ url_for('static', filename='resume/resumeDiaz.pdf') }}" class="icon fa-file"><span class="label">Resume</span></a></li>
					<li><a href="https://github.com/dddiaz" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="mailto:daniel.delivn.diaz+home@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
				</ul>
			</div>
		</div>
        {% block blog_post %}{% endblock %}
        <div id="footer">
            <ul class="copyright">
                <li>&copy; Daniel Diaz. All rights reserved.</li>
            </ul>
        </div>

        <!-- Theme Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollzer.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.inview.min.js') }}"></script>
		<!-- Start Custom Scripts -->
		<script src="{{ url_for('static', filename='js/site.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bg.js') }}"></script>
		<script src="{{ url_for('static', filename='js/formspree.js') }}"></script>
		<!-- End Custom Scripts -->
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<!--[if lte IE 8]><script src="{{ url_for('static', filename='js/ie/respond.min.js') }}"></script><![endif]-->
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
		<!-- GA CODE -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-99682958-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>