{% extends "blog_layout.html" %}
{% block blog_post %}
    <div id="main">
        <!-- Intro -->
        <section id="top" class="one dark cover">
            <div class="container">
                <header>
                    <h2 class="alt">{{ post.title }}</h2>
                    <p class="alt">{{ post.desc }}</p>
                </header>
            </div>
        </section>
        <section id="blog-post" class="two">
            <div class="container">
                <p>{{ post.post }}</p>
            </div>
        </section>
        <section id="return-home" class="three">
            <div class="container">
                <p><a href="{{ url_for('index') }}" class="button scrolly">Go Home</a>
            </div>
        </section>
    </div>
{% endblock %}